@font-face {
    font-family: Fuggles-Regular;
    src: url("../Fonts/Fuggles-Regular.ttf");
  }

@font-face {
    font-family: CroissantOne-Regular;
    src: url("../Fonts/CroissantOne-Regular.ttf");
  }


.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px; 
}

.logo-container img {
    width: auto;
    height: auto;
    max-width: 50%;
}

h1 {
    color: #fff;
    font-family: Fuggles-Regular;
    font-size: 70px;
    text-shadow: 2px 2px 5px pink;
    text-align: center;
    margin-top: -80px;
    margin-bottom: 0px;
}

h2 {
    font-family: CroissantOne-Regular;
    font-size: 30px;
    text-shadow: 2px 2px 5px pink;
    text-align: center;
}

body {
    /* Background gradient */
    background: linear-gradient(to right, rgba(218,112,214, 1), rgba(221,160,221, 1));
    color: #fff; /* Text color */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family */
    margin: 0; /* Remove default body margin */
}

.welcome {
    align-items: center;
}

footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: palevioletred;
    color: #000;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

.image{
    width: 500px;
    height: 400px;
    margin: auto; 
    display: block;
}

.table-container {
    width: 80%; /* Set the desired width for the table container */
    margin: 0 auto; /* Center the table container horizontally */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
}

th {
    background-color: #04AA6D;
    color: white;
}

form {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: solid;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #ff69b4; 
    padding: 10px 0; 
    font-family: 'Impact', sans-serif; 
}

.menu-item {
    background-color: #ff69b4; /* Apply the background color to menu items */
    padding: 5px 10px; /* Add padding to menu items */
    border-radius: 5px;
}

.menu-item a {
    text-decoration: none;
    color: #000; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.menu-item a:hover {
    color: #ff1493; 
}

.btn-primary {
    background-color: palevioletred; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ff1493; 
}

/* Container to center buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add margin to adjust the vertical spacing if needed */
}

/* Sweet-themed button styles with hover effect */
.new-user-button,
.view-button, .home-button {
    align-items: center;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.view-button {
    background-color: #ff8c94; /* Sweet color for the gallery button */
}

.new-user-button {
    background-color: #ffd699; /* Sweet color for the recipe button */
}

.home-button {
    background-color: #ffd699; /* Sweet color for the recipe button */
}

.view-button:hover,
.new-user-button:hover, .home-button:hover {
    background-color: #ff6f78; /* Darker sweet color on hover */
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row div {
    flex: 1;
    padding: 5%;
}

.form-row div form {
    width: 90%;
    height: auto;
    margin: auto;
}

.form-row div:nth-child(1) {
    background-color: rgb(218,112,214);
    color: #fff;
}

.form-row div:nth-child(2) {
    background-color: rgb(221,160,221);
    color: #fff;
}

  .signin-row{
    padding: 5%;
  }
  .person-masthead{
    width: 100%;
    height: 50vh;
    /* add background image */
  }
  .person-masthead div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .person-masthead div h1{
    color: #fff;
    font-size: 2.5em;
  }
  .person-row{
    padding: 5% 10%;
  }
  .success-row,
  .signin-masthead,
  .add-image-page{
    background-image: url("../img/sample-image.jpg");
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .success-row div,
  .signin-masthead div,
  .add-image-page div{
    padding: 5%;
    background-color: rgba(0,0,0,.7);
    border-radius: 5px;
    color: #fff;
  }
  .success-back-row{padding: 5%;}
